@use "../styles/utils/variables" as v;

#first-section {
  width: 100%;
  height: 100vh;
  background-image: url("../../headerBG.webp");
  background-size: cover;
  background-position: 50%;
  margin-top: -80px;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  //padding-bottom: 5rem;
  .tagline {
    font-family: 'Aguafina Script', cursive;
    font-size: clamp(1.44rem, 1.16rem + 1.118vw, 1.8rem);
    word-spacing: 0.3rem;
    color: white;
    z-index: 2;
    text-align: center;
    text-shadow: 1px 1px 2px black;
  }
  div {
    display: flex;
  }
  .shake {
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% {
      transform: skewX(-20deg);
    }
    5% {
      transform: skewX(20deg);
    }
    10% {
      transform: skewX(-20deg);
    }
    15% {
      transform: skewX(20deg);
    }
    20% {
      transform: skewX(0deg);
    }
    100% {
      transform: skewX(0deg);
    }
  }
}
a {
  z-index: 3;
}
#first-section::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.475);
  z-index: 1;
  inset: 0 0 0 0;
}
//countdown font size
.react-countdown-simple__date-time,
.react-countdown-simple__colon {
  font-size: clamp(1.5rem, 6vw, 6rem) !important;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: v.$color-cyan-normal;
  z-index: 2;
  font-weight: 900;
}

@media (min-width: 800px) {
  .react-countdown-simple__date-time,
  .react-countdown-simple__colon {
    -webkit-text-stroke-width: 3px;
  }
}

.scroll-to-top {
  background-color: transparent !important;
  right: 40px;
  bottom: 70px !important;
  position: fixed;
  z-index: 3 !important;
  cursor: pointer;
  border-radius: 5px !important;
  /*  width: 30px !important;
  height: 30px !important; */
  box-shadow: none !important;
  border: none;
  p {
    color: transparent;
    font-size: 2.5rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: v.$color-cyan-normal;
  }
}

.scroll-to-top:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}
